@model IEnumerable<Comp7071_A2.Areas.Housing.Models.Suite>

@{
    ViewData["Title"] = "Index";
}

<h1>Suites</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UnitNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Floor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupants)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bathrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParkingSpot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HousingGroup)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renter)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UnitNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Occupants)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bathrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentAmount)
            </td>
            <td>
                @{if (item.Locker != null)
                {
                    @Html.DisplayFor(modelItem => item.Locker.LockerNumber)
                }
                else
                {
                    @:None
                }}
            </td>
            <td>
                @{if (item.ParkingSpot != null)
                {
                    @Html.DisplayFor(modelItem => item.ParkingSpot.SpotNumber)
                }
                else
                {
                    @:None
                }} 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HousingGroup.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building.Address)
            </td>
            <td>
                @{if (item.Renter != null)
                {
                    @Html.DisplayFor(modelItem => item.Renter.Identity.Email)
                }
                else
                {
                    @:None
                }}
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
