@model Comp7071_A2.Areas.ManageHumanResourcesAndPayroll.Models.HRSchedule

@{
    ViewData["Title"] = "Details";
}
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script>
    var model = @Html.Raw(Json.Serialize(@Model))

    var shifts = []
    model.shifts.forEach(s => {
        shifts.push({
            title: model.name,
            id: s.id,
            start: s.start_Time,
            startStr: s.start_Time,
            end:s.end_Time,
            endStr:s.end_Time,
        })
    })

    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        selectable: false,
        events: shifts,
        eventClick: (info) => {
            const id = info.event._def.publicId
            var url = '@Url.Action("edit", "HRShifts", new { id = "_id" })'
            url = url.replace('_id', id)
            url += '?returnController=HRSchedules&returnMethod=Details&returnID=@Model.ID.ToString()'
            window.location.href = url;
        }
      });
      calendar.render();
    });

</script>
<h1>Details</h1>

<div>
    <h4>HRSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Start_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Start_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.End_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.End_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours_Scheduled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours_Scheduled)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recurrance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recurrance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<div id="calendar"></div>